/* GLOBAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
   min-height: 90vh;
   background-color: #10A5F5;
   font-family: 'Poppins', sans-serif;
}

h1{
    color: #426696;
    font-weight: 600;
    font-size: 30px;
    opacity: .8;
}

h2, h3{
    color: #426696;
    font-weight: 600;
    opacity: .8;
}

p{
    color: #658ec6;
    font-weight: 500;
    opacity: .8;
}

/* MAIN CARD*/

.card-glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    margin-top: 40px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));

    border-radius: 20px;

    display: flex;

}

/* IMAGE */

#user-image{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

#icon-github{
    width: 30px;
    height: 30px;
    opacity: .6;
}

#icon-linkedin{
    width: 30px;
    height: 30px;
    opacity: .6;
}

#icon-instagram{
    width: 30px;
    height: 30px;
    opacity: .6;
}

#icon-twitter{
    width: 30px;
    height: 30px;
    opacity: .6;
}

/* PROFILE CARD */

.profile-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
}

.link{
    display: flex;
    margin: 20px 0;
    padding: 10px 50px;
    align-items: center;
}

.link a {
    padding: 0 20px;
    text-decoration: none;
    color: #658ec6;
    font-size: 18px;
    font-weight: 500;
}

.link a:hover{
    color: #426696;
}

/* PROJECTS */

.projects{
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 50px;
}

.status{
    margin-bottom: 30px;
}

.card{
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, .8), rgba(255, 255, 255, .5));
    border-radius: 10px;
    margin: 20px 0;
    padding: 8px;

    box-shadow: 6px 6px 20px rgba(122, 122, 122, .2);

    justify-content: center;
}

.card-info a {
    text-decoration: none;
    text-align: center;
    color: #658ec6;
    font-size: 18px;
    font-weight: 500;
}

.card-info a:hover{
    color: #426696;
}

.card-info p{
    text-align: center;
}
